$highlight: #4487fa; //blue
$highlight2: #f36; //pink
$lightGrey: #cfd3d6;
$bg: #f9f9f9;
$dark: #333d4e;
$box-padding: 20px 0;

body {
	font-size: 14px;
	font-family: 'Open Sans', sans-serif;

}

h1 {
	font-size: 2.4em;
	color: $highlight2;
}

h2 {
	font-size: 1.6em;
}


@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot');
	src:url('../fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('../fonts/icomoon.woff') format('woff'),
		url('../fonts/icomoon.ttf') format('truetype'),
		url('../fonts/icomoon.svg#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

a {
	color: $highlight;
		-webkit-transition: color .5s ease;
    -moz-transition: color .5s ease;
    transition: color .5s ease;


	&:hover {
		color: $highlight2;
		text-decoration: none;
	}
}

.ishidden {
	opacity: 0!important;
}

.wrapper {
	background: $bg url('../img/furley_bg.png');
}

header {
	background: $bg;
	padding: $box-padding;
	margin-bottom: 40px;
	color: darken($lightGrey, 30%);
	background: #fff;
}

.header-text {
	margin-left: 50px;

	span {
		display: block;
		font-size: 0.7em;
		margin-top: 5px;
	}
}

.header-img {
	margin: 20px auto;
	width: 300px;
}

.header-img img{
	max-width: 100%;
	border-radius: 100%;
	width: 100%;
}

.timeline {
	margin: 0 auto;
	position: relative;

	ul {
		padding: 0 0 50px 0;
	}
}

.line {
		width: 6px;
		background: $lightGrey;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		margin-left: -3px;
		z-index: 10;
	}

.date {
	list-style: none;
	background: $highlight2;
	width: 50px;
	height: 50px;
	margin: -200px auto 0;
	border-radius: 100%;
	padding: 10px 4px 0;
	z-index: 30;
	position: relative;
	color: $bg;
	border: 5px solid $bg;
}

.date + .event {
	margin-top: 20px;
}

.date:first-child {
	margin-top: 0;
}

.event {
	list-style: none;
	margin-top: -150px;
	// margin-top: 20px;
	position: relative;

	&.event-1 {
		margin-top: 20px;
	}

	.event-container {
		background: #fff;
		padding: 10px;
		margin-left: -5px;
		border-radius: 2px;
		color: darken($lightGrey, 20%);
		opacity: 1;
		-webkit-transition: opacity .7s ease;
		-moz-transition: opacity .7s ease;
		transition: opacity .7s ease;
		max-width: 520px;
	}

	.event-title {
		color: darken($lightGrey, 20%);

		h2 {
			margin-top: 0;
		}
	}

	.event-date {
		text-align: right;
		color: #f36;
	}

	.event-links {
		word-wrap: break-word;

		a {
			display: block;
			margin-top: 10px;
		}
	}

	img {
		width: 100%;
		max-width: 500px;
		margin-top: 20px;
	}

	&:before {
		content: '';
		width: 26px;
		height: 26px;
		background: $bg;
		border-radius: 100%;
		position: absolute;
		left: 50%;
		margin-left: -13px;
		top: 23px;
		z-index: 30;
		border: 3px solid $highlight;
	}

	&:after {
		content: '';
		width: 36px;
		height: 36px;
		border-radius: 100%;
		position: absolute;
		left: 50%;
		margin-left: -18px;
		top: 18px;
		z-index: 29;
		background: $bg;
	}

	&.event-left {
		.event-container{
			margin-right: 56%;
			position: relative;
			-webkit-box-shadow: 0 2px 5px rgba(50, 58, 69, 0.07);
			-moz-box-shadow: 0 2px 5px rgba(50, 58, 69, 0.07);
			box-shadow: 0 2px 5px rgba(50, 58, 69, 0.07);

			&:before {
				content: '';
				width: 0;
				height: 0;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-left: 15px solid #fff;
				position: absolute;
				left: 100%;
				top: 20px;
			}
		}
	}

	&.event-right {
		.event-container{
			margin-left: 56%;
			position: relative;
			-webkit-box-shadow: -2px 2px 5px rgba(50, 58, 69, 0.07);
			-moz-box-shadow: -2px 2px 5px rgba(50, 58, 69, 0.07);
			box-shadow: -2px 2px 5px rgba(50, 58, 69, 0.07);

			&:before {
				content: '';
				width: 0;
				height: 0;
				border-top: 15px solid transparent;
				border-bottom: 15px solid transparent;
				border-right: 15px solid #fff;
				position: absolute;
				right: 100%;
				top: 20px;
			}
		}
	}
}

footer {
	background: $dark;
	z-index: 20;
	position: relative;
	padding: $box-padding;

	ul {
		text-align: center;
		margin: 0;
		padding: 0;
	}

	li {
		list-style: none;
		display: inline-block;
		font-size: 4em;
		margin: 0 10px;
		a {
			color: lighten($dark, 30%);
			-webkit-transition: all 0.3s ease;
			-moz-transition: all 0.3s ease;
			-ms-transition: all 0.3s ease;
			-o-transition: all 0.3s ease;
			transition: all 0.3s ease;

			&:hover {
				text-decoration: none;
				color: $bg;
			}
		}
	}
}
